TELEGRAM_BOT_TOKEN=
TARGET_CHAT_ID=
BOT_USERNAME=NOVAPOSHTA_API_KEY=

# Google Sheets інтеграція:
# Завантажте Service Account JSON файл з Google Cloud Console
# Збережіть його у кореневій папці проекту: telegram-bot-requests-XXXXXXX.json
# Цей файл добавлений в .gitignore і НЕ буде пушитися в репозиторій
GOOGLE_CREDENTIALS_FILE=telegram-bot-requests-486908-d63178aba048.json
GOOGLE_SPREADSHEET_ID=